/* ======================
   GLOBAL
====================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:linear-gradient(
        180deg,
        #f7fafc,
        #eef6f1,
        #f4f6f8
    );
    color:#111827;
    min-height:100vh;
    font-size:18px;
}

/* ======================
   LOGIN
====================== */

.login-box{
    width:92%;
    max-width:420px;
    margin:80px auto;
    background:white;
    padding:35px;
    border-radius:28px;
    box-shadow:0 12px 35px rgba(0,0,0,.1);
}

.login-box h1{
    font-size:40px;
    font-weight:900;
    color:#0a6b3e;
    margin-bottom:10px;
}

input{
    width:100%;
    padding:18px;
    border:1px solid #ddd;
    border-radius:16px;
    margin-top:15px;
    font-size:18px;
}

button{
    width:100%;
    padding:18px;
    border:none;
    border-radius:16px;
    background:#0a6b3e;
    color:white;
    font-size:19px;
    font-weight:800;
    margin-top:18px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:scale(1.02);
}

/* ======================
   LAYOUT
====================== */

.layout{
    display:block;
}

.main{
    padding:15px;
}

/* ======================
   SIDEBAR
====================== */

.sidebar{
    width:100%;
    background:#0a6b3e;
    padding:18px;
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.sidebar h2{
    display:none;
}

.sidebar a{
    color:white;
    text-decoration:none;
    font-size:17px;
    font-weight:700;
}

/* ======================
   TOP BAR
====================== */

.topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:15px;
}

.topbar h2{
    font-size:36px;
    font-weight:900;
}

.top-icons button{
    width:auto;
    padding:12px 15px;
    border-radius:14px;
}

/* ======================
   PREMIUM BALANCE CARD
====================== */

.card{
    background:linear-gradient(
        135deg,
        #0a6b3e,
        #16c172,
        #0a6b3e
    );

    background-size:300% 300%;
    animation:gradientMove 8s infinite alternate;

    color:white;

    padding:35px 30px;      /* Bigger inside spacing */

    border-radius:35px;

    min-height:350px;       /* Taller card */

    box-shadow:
    0 15px 35px rgba(0,0,0,.18);

    position:relative;
    overflow:hidden;

    margin-bottom:18px;
}

/* Moving gradient */

@keyframes gradientMove{

    from{
        background-position:left;
    }

    to{
        background-position:right;
    }

}

/* Floating circles */

.card::before{

    content:"";

    position:absolute;

    width:180px;
    height:180px;

    border-radius:50%;

    background:rgba(255,255,255,.15);

    top:-70px;
    right:-40px;

}

.card::after{

    content:"";

    position:absolute;

    width:120px;
    height:120px;

    border-radius:50%;

    background:rgba(255,255,255,.1);

    bottom:-40px;
    left:-20px;

}
#balance{

    font-size:65px;

    font-weight:900;

    letter-spacing:-1px;

    margin-top:15px;

    animation:pulse 2s infinite alternate;

}

@keyframes pulse{

    from{
        transform:scale(1);
    }

    to{
        transform:scale(1.03);
    }

}

.account-number{
    margin-top:30px;
    font-size:22px;
    font-weight:700;
    color:white;
    position:absolute;
    left:30px;
    bottom:85px;
    z-index:2;
}

.card-logo{
    position:absolute;

    bottom:35px;
    right:30px;

    font-size:42px;

    font-weight:900;

    color:white;

    letter-spacing:3px;

    z-index:2;
}
.eye-btn{

    width:auto;

    padding:12px 15px;

    border:none;

    border-radius:15px;

    background:rgba(255,255,255,.2);

    color:white;

    backdrop-filter:blur(12px);

    transition:.3s;

}

.eye-btn:hover{

    transform:rotate(20deg);

}

.eye-btn i{

    font-size:24px;

}
.copy-btn{
    position:absolute;
    left:30px;
    bottom:25px;

    width:auto;

    background:white;
    color:#0a6b3e;

    font-weight:900;

    padding:14px 18px;

    border-radius:15px;

    z-index:2;
}
.card-logo{

    position:absolute;

    bottom:25px;

    right:25px;

    font-size:32px;

    font-weight:900;

    opacity:.9;

}
/* ======================
   QUICK ACTIONS
====================== */

.grid{
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    gap:5px;
    margin-top:10px;
}
.grid a{
    background:white;

    width:100%;
    height:105px;

    border-radius:20px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-decoration:none;
    color:#111;

    font-size:15px;
    font-weight:900;

    box-shadow:0 5px 15px rgba(0,0,0,.1);

    transition:.3s;
}
.grid a i{
    font-size:58px;
    margin-bottom:10px;
}
.grid a:hover{

    transform:
    translateY(-5px);

    box-shadow:
    0 15px 30px rgba(0,0,0,.15);

}
..grid a i{
    font-size:50px;
    margin-bottom:8px;
}

.grid a span{
    font-weight:900;
    font-size:15px;

}
.grid a:nth-child(1) i{
    color:#16a34a;
}

.grid a:nth-child(2) i{
    color:#2563eb;
}

.grid a:nth-child(3) i{
    color:#ef4444;
}

.grid a:nth-child(4) i{
    color:#f59e0b;
}

.grid a:nth-child(5) i{
    color:#8b5cf6;
}

.grid a:nth-child(6) i{
    color:#ec4899;
}

.grid a:nth-child(7) i{
    color:#0891b2;
}

.grid a:nth-child(8) i{
    color:#ea580c;
}
.grid span{

    font-size:19px;

    font-weight:900;

    line-height:1.1;

}
.grid a:hover i{

    transform:
    scale(1.15)
    rotate(8deg);

}
.card{
    margin-bottom:14px;
}

.grid{
    margin-bottom:14px;
}

.transactions{
    margin-top:14px;
}
/* ======================
   RECENT TRANSACTIONS
====================== */

.transactions{

    background:white;

    padding:25px;

    border-radius:30px;

    margin-top:15px;

    box-shadow:
    0 10px 30px rgba(0,0,0,.08);

}
.transactions h3{

    font-size:42px;

    font-weight:900;

    margin-bottom:25px;

}
.tx{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:28px 0;

    border-bottom:1px solid #eef2f7;

}
.tx:hover{

    transform:translateX(8px);

}
.tx-left{

    display:flex;

    align-items:center;

    gap:18px;

}
.tx-icon{

    width:65px;

    height:65px;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

}
.tx-icon i{

    font-size:28px;

}
.deposit-icon{

    background:#dcfce7;

    color:#16a34a;

}

.withdraw-icon{

    background:#fee2e2;

    color:#ef4444;

}

.transfer-icon{

    background:#dbeafe;

    color:#2563eb;

}
.tx strong{

    font-size:34px !important;

    font-weight:900 !important;

    color:#111827;

    line-height:.tx small{

    font-size:18px !important;

    font-weight:700;

    color:#6b7280;

}
.tx b{

    font-size:28px;

    font-weight:900;

}
 .deposit b{
    color:#16a34a;
}

.withdrawal b{
    color:#ef4444;
}

.transfer b{
    color:#2563eb;
}

.tx{

    animation:fadeUp .5s ease;

}

@keyframes fadeUp{

    from{

        opacity:0;

        transform:translateY(15px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}
   
/* ==================================
   FINAL TRANSACTION TEXT UPGRADE
================================== */

.tx strong{

    font-size:38px !important;

    font-weight:900 !important;

    color:#111827;

    line-height:1.05;

    display:block;

    margin-bottom:6px;

}

.tx small{

    font-size:20px !important;

    font-weight:700;

    color:#6b7280;

}

.tx b{

    font-size:30px !important;

    font-weight:900;

}
   .deposit b{
    color:#16a34a;
}

.withdrawal b{
    color:#ef4444;
}

.transfer b{
    color:#2563eb;
}
@media(max-width:768px){
    .grid a{
        aspect-ratio: 1 / 1;
        padding:12px 4px;
    }

    .grid a i{
        font-size:38px;
    }

    .grid a span{
        font-size:12px;
    }
}
.card p{
    font-size:24px;
    font-weight:700;
    margin-bottom:15px;
}
